/*
 * Solarized color scheme for CSS3
 *
 * http://ethanschoonover.com/solarized
 */

:root {
    /* Common */
    --S_yellow:         #b58900;
    --S_orange:         #cb4b16;
    --S_red:            #dc322f;
    --S_magenta:        #d33682;
    --S_violet:         #6c71c4;
    --S_blue:           #268bd2;
    --S_cyan:           #2aa198;
    --S_green:          #859900;

    /* Dark */
    --S_base03:         #002b36;
    --S_base02:         #073642;
    --S_base01:         #586e75;
    --S_base00:         #657b83;
    --S_base0:          #839496;
    --S_base1:          #93a1a1;
    --S_base2:          #eee8d5;
    --S_base3:          #fdf6e3;

    /* SNMD Colors */
    --SNMD_yellow:      #c4961a;
    --SNMD_orange:      #fd753e;
    --SNMD_red:         #ff6254;
    --SNMD_magenta:     #ff64aa;
    --SNMD_violet:      #9395ec;
    --SNMD_blue:        #4ca3ec;
    --SNMD_cyan:        #3baea4;
    --SNMD_green:       #93a71a;
    --SNMD_green2:      #38b429;
    --SNMD_undefined:   #8aa1a9;
    --SNMD_ok:          #00b717;
    --SNMD_warning:     #bb9b00;
    --SNMD_critical:    #ff5866;
    --SNMD_unknown:     #df8a00;
}

.solarized-light {
    /* Light */
    --S_base03:         #fdf6e3;
    --S_base02:         #eee8d5;
    --S_base01:         #93a1a1;
    --S_base00:         #839496;
    --S_base0:          #657b83;
    --S_base1:          #586e75;
    --S_base2:          #073642;
    --S_base3:          #002b36; 
}
