#snmd_clock {
    float: right;
    padding:2px 1ex;
    height: 20px;
    font-size: 14px;
    font-weight: bold;
    border-left: 1px solid black;
    border-right: 1px solid black;
    color: white;
    letter-spacing: 0.1ex;
}

#snmd-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.6ex;
    padding:2px 1ex;
    height: 20px;
    font-size: 14px;
    font-weight: bold;
    border-left: 1px solid black;
    border-right: 1px solid black;
    color: #808080;
    pointer-events: none;
}

#snmd-hb {
    position: absolute;
    z-index: 1;
    bottom: 5;
    right: 5;
    width: 8px;
    height: 8px;
    background: #7f0000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

ul.srViewsNav {
    list-style:none;
    margin:0;
    padding:0px 10px;
    background-color: rgba(38, 41, 44, 1);
    height: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

ul.srViewsNav li {
    display: inline;
}

ul.srViewsNav li a {
    padding: 2px 1ex;
    font-size: 16px;
    text-decoration: none;
    letter-spacing: 0.1ex;
    color: #808080;
    border: 1px solid black;
    transition: background-color 5s ease, font-weight 5s ease;
}

.on-screensaver ul.srViewsNav li a {
    transition: background-color 15s ease, font-weight 15s ease;
}

ul.srViewsNav li a.selected, ul.nav li a:hover {
    background-color: 0;
    color: #ffffff;
    font-weight: bold;
}

ul.srViewsNav li a:focus {
    outline:0;
}

div.svgview {
    position: absolute;
    /*height: 1038px;
    width: 1906px;*/
    height: 100%;
    width: 100%;
    
    background-color: rgba(38, 41, 44, 0.5);

    opacity: 0;
    transition: opacity 1.5s ease-out, background-color 1.5s ease-out, filter 1.5s ease-in, -webkit-filter 1.5s ease-in;
    display: block;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    /* performance killer
    filter: blur(2px);
    -webkit-filter: blur(2px);
    */
}

.enable-3d div.svgview {
    opacity: 1;
}

div.svgview.current {
    background-color: rgba(38, 41, 44, 1);
    opacity: 1;

    filter: none;
    -webkit-filter: none;
}

.enable-3d div.svgview.current {
    opacity: 1;
    transition: opacity 1.5s ease-in 3.5s, background-color 1.5s ease-in 3.5s, filter 1.5s ease-out 3.5s, -webkit-filter 1.5s ease-out;
}

.on-screensaver div.svgview.current {
    transition: opacity 1.5s ease-in, background-color 1.5s ease-in, filter 1.5s ease-out, -webkit-filter 1.5s ease-out;
}

.enable-3d .on-screensaver div.svgview.current {
    transition: opacity 1.5s ease-in 13.5s, background-color 1.5s ease-in 13.5s, filter 1.5s ease-out 13.5s, -webkit-filter 1.5s ease-out;
}

div.svgview svg {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    
    position: absolute;
}


#snmd-vouter {
    top:0px;
    bottom:0;
    width: 100%;
    margin: auto;
    position: absolute;
    overflow: hidden;
    pointer-events: none;

    padding-top: 22px;
}

#snmd-vinner {
    width: 100%;
    height: 100%;
    position: relative;
}

.enable-3d #snmd-vinner {
    perspective: 1000px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
}

#snmd-views {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 5s;

    transform-style: flat;
    -webkit-transform-style: flat;
    -moz-transform-style: flat;
}

.enable-3d #snmd-views {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
}

.on-screensaver #snmd-views {
    transition: 15s ease-in-out;
}

#scotty_logd {
    margin-top: 4;
    width: 100%;
    height: 14%;
    border: 1px solid #7f7f7f;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

body {
    background-color: #000000;
    position: relative;
    font-family: monospace;

    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
