@keyframes snmp-kf-opacity {
  0% { opacity: 1; }
  50% { opacity: 0.3; }
  100% { opacity: 1; }
} 

@keyframes snmp-kf-stroke {
  0% {  }
  50% { stroke: white; }
  100% {  }
} 

.snmd-bcl-Chart {
    stroke: grey;
    stroke-width: 2.5;
    fill: white;
    animation: snmp-kf-stroke 6s ease infinite;
}
.snmd-bcl-Chart.snmd-scl-0 {
    stroke: LimeGreen;
    animation: none;
}
.snmd-bcl-Chart.snmd-scl-1 {
    stroke: Gold;
    animation: snmp-kf-stroke 4s ease infinite;
}
.snmd-bcl-Chart.snmd-scl-2 {
    stroke: Crimson;
    animation: snmp-kf-stroke 2s ease infinite;
}
.snmd-bcl-Chart.snmd-scl-3 {
    stroke: Orange;
}


.snmd-bcl-Gauge-BG {
    stroke: #202020;
    stroke-width: 4;
    stroke-linecap: round;
    fill: none;
}
.snmd-bcl-Gauge {
    stroke: Grey;
    stroke-width: 8;
    stroke-linecap: round;
    fill: none;
    animation: snmp-kf-opacity 6s ease infinite;
}
.snmd-bcl-Gauge.snmd-scl-0 {
    stroke: LimeGreen;
    animation: none;
}
.snmd-bcl-Gauge.snmd-scl-1 {
    stroke: Gold;
    animation: snmp-kf-opacity 4s ease infinite;
}
.snmd-bcl-Gauge.snmd-scl-2 {
    stroke: Crimson;
    animation: snmp-kf-opacity 2s ease infinite;
}
.snmd-bcl-Gauge.snmd-scl-3 {
    stroke: Orange;
}


.snmd-bcl-Text {
    fill: Grey;
    animation: snmp-kf-opacity 6s ease infinite;
}
.snmd-bcl-Text.snmd-scl-0 {
    fill: LimeGreen;
    animation: none;
}
.snmd-bcl-Text.snmd-scl-1 {
    fill: Gold;
    animation: snmp-kf-opacity 4s ease infinite;
}
.snmd-bcl-Text.snmd-scl-2 {
    fill: Crimson;
    animation: snmp-kf-opacity 2s ease infinite;
}
.snmd-bcl-Text.snmd-scl-3 {
    fill: Orange;
}
